<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-ico" href="../static/image/favicon.ico">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>DigiTechnovators</title>
</head>
<body>

<div class="navbar">
    <div class="Home">Home</div>
    <div class="about">About Us</div>
  <div class="dropdown">
    <button class="dropbtn">Training 
    </button>
    <div class="dropdown-content">
      <a>Devops</a>
      <a>Testing</a>
      <a>AI & ML</a>
    </div>
  </div>
    <div class="contact">
        contact us
    </div>
</div>


<div id="contact-us">
        <label class="pointer" id="create_account">Contact Us</label>
        <div class="user_data" id="user_details">
            <input type="text" class="user_data" placeholder="Enter Full Name" id="name" required></br>
            <input type="text" class="user_data" placeholder="Enter Phone Number" id="create_phone_number" required></br>
            <input type="text" class="user_data" placeholder="Enter Email" id="create_email" required></br>
            <textarea class="user_data" placeholder="Enter Message" id="create_message" rows="4" cols="50"></textarea>
            <button type="button" class="user_data" id="create_submit">Submit</button>
        </div>
    </div>


</body>
</html>
